<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Daniel McGraw" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.boastful.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#boastful').boastful();
      });
    </script>
  </head>
  <body>
    <header>
      <h1><a href="/">Daniel McGraw</a></h1>
    </header>
    <section>
      {{ content }}
    </section>
  </body>
</html>
